<div>
  <table
    style="
      font-family:
        Segoe UI,
        SegoeUIWF,
        Arial,
        sans-serif;
      font-size: 12px;
      color: #333333;
      border-spacing: 0px;
      border-collapse: collapse;
      padding: 0px;
      width: 580px;
      direction: ltr;
    "
  >
    <tbody>
      <tr style="background-color: #0078d4">
        <td style="padding: 0px">
          <table
            style="
              font-family:
                Segoe UI,
                SegoeUIWF,
                Arial,
                sans-serif;
              border-spacing: 0px;
              border-collapse: collapse;
              width: 100%;
            "
          >
            <tbody>
              <tr>
                <td
                  style="
                    font-size: 38px;
                    color: #ffffff;
                    padding: 12px 22px 4px 22px;
                  "
                  colspan="3"
                >
                  商家申请已通过
                </td>
              </tr>
              <tr>
                <td
                  style="
                    font-size: 20px;
                    color: #ffffff;
                    padding: 0px 22px 18px 22px;
                  "
                  colspan="3"
                >
                  <b>{{.Name}}</b> 先生/女士, 感谢您对我们产品的青睐!
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 30px 20px;
            border-bottom-style: solid;
            border-bottom-color: #0078d4;
            border-bottom-width: 4px;
          "
        >
          <table
            style="
              font-family:
                Segoe UI,
                SegoeUIWF,
                Arial,
                sans-serif;
              font-size: 12px;
              color: #333333;
              border-spacing: 0px;
              border-collapse: collapse;
              width: 100%;
            "
          >
            <tbody>
              <tr>
                <td style="font-size: 16px; padding: 0px 0px 5px 0px">
                  以下是您的账号信息, 请及时修改密码：
                  <ul style="font-size: 14px">
                    <li style="padding-top: 10px">商家账号：{{.Account}}</li>
                    <li>商家密码：{{.Password}}</li>
                    <li>请再次确认您的电话：{{.PhoneNumber}}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 35px 0px; color: #b2b2b2; font-size: 12px">
          同济大学
          <br />
          曹安公路4800号
          <br />
          中国 上海
        </td>
      </tr>
      <tr>
        <td style="padding: 0px 0px 10px 0px; color: #b2b2b2; font-size: 12px">
          版权所有: 起名困难户
          <br />
          <a href="" style="color: #0044cc">隐私声明</a>
          <br />
          <a href="" style="color: #0044cc">需要帮助? 请与支持部门联系</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
